<!DOCTYPE html>
<html>
    {%- include header.html -%}
    <body>
        <h1>{{ page.title }}</h1>
        <div class="content">
            <h1>Recent Posts</h1>
        </div>
        {%- for post in site.posts limit:5 -%}
            <div class="post">
                <h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h1>
                <h3>{{ post.date | date_to_long_string }}</h3>
                <p>{{ post.excerpt }}</p>[...]
                <a href="{{ post.url | absolute_url }}">Read More...</a>
            </div>
        {%- endfor -%}
    </body>
    {%- include footer.html -%}
</html>